* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafaff;
}

/* 
##########
# HEADER #
########## 
*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
}

#branding {
  font-family: "Pacifico", cursive;
  color: white;
  background-color: darkblue;
  padding: 10px;
  border-radius: 5px;
}

.header button {
  background-color: darkblue;
  padding: 10px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.header button:hover {
  cursor: pointer;
}

.header img {
  height: 20px;
  vertical-align: middle;
  padding-right: 5px;
  filter: invert(96%) sepia(0%) saturate(7500%) hue-rotate(117deg)
    brightness(101%) contrast(109%);
}

/* hover Pannel */
.hoverpannel {
  float: right;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: white;
}

.hoverpannel button {
  padding: 10px;
  margin: 5px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
}

.hoverpannel p {
  margin: 5px;
}

/*  
 ##################
 # JOB ENTRY FORM #
 ################## 
 */

.entryform {
  margin: 5px auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 50px 200px 150px 100px 125px 100px 50px;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 5px;
  width: fit-content;
}

.entryform input {
  padding: 5px;
}

/* 
####################
# JOB LIST AND JOB #
#################### 
*/

.joblist {
  background-color: rgb(255, 255, 255);
  margin: 5px auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 50px 200px 150px 100px 125px 100px 50px;
  justify-content: center;
  row-gap: 10px;
  column-gap: 5px;
  width: fit-content;
}

.joblist button {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  border: none;
  margin: 5px;
}

.joblist button:hover {
  cursor: pointer;
}

.joblist img {
  height: 15px;
  width: 15px;
}

.joblistheader {
  background-color: #e5e5ff;
  font-weight: bold;
  /* margin-top: 125px; */
}

/* 
##########
# FOOTER #
########## 
*/

.bottombar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  padding: 20px 100px 20px 100px;
  background-color: white;
}

.bottombar img {
  height: 40px;
  vertical-align: middle;
}

.credentialcontainer {
  display: flex;
}

.credentialcontainer img {
  height: 60px;
  margin-right: 10px;
}

.credentialcontainer a {
  text-decoration: none;
  color: inherit;
}
