*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

/* 
##########
# HEADER #
########## 
*/

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: grey;
}

.header button{
  padding: 10px;
  display: block;
}

.header img {
  height: 20px;
}

 /* hover Pannel */
 .hoverPannel{
   float: right;
   padding: 10px;
   border-radius: 5px;
   background-color: red;
 }

 .hoverPannel button{
   padding: 5px;
   margin: 5px;
 }

 .hoveringPannel p{
   margin: 5px;
 } 